<a href="https://colab.research.google.com/github/2303A51462/Data-Mining/blob/main/Ass1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/content/employee_data.csv')
print("Original DataSet")
print(df)

Original DataSet
    Employee_ID   Age    Salary  Job_Satisfaction  Work_Hours_Per_Week
0          1001  50.0  108953.0               9.0                   36
1          1002  36.0   82995.0               8.0                   59
2          1003  29.0   70757.0               2.0                   30
3          1004  42.0   39692.0               1.0                   30
4          1005  40.0   75758.0               7.0                   54
5          1006  44.0  102409.0               7.0                   56
6          1007  32.0       NaN               NaN                   59
7          1008  32.0   95697.0               5.0                   54
8          1009  45.0   67065.0               3.0                   49
9          1010  57.0       NaN               8.0                   42
10         1011  45.0   41534.0               6.0                   38
11         1012   NaN   70397.0               NaN                   32
12         1013  43.0   31016.0               NaN                   36
13         1014  23.0  119789.0               1.0                   35
14         1015  45.0   85591.0               3.0                   37
15         1016  51.0  119812.0               5.0                   56
16         1017  59.0   53247.0               3.0                   38
17         1018  23.0   54300.0               1.0                   59
18         1019  42.0  104065.0               5.0                   34
19         1020  54.0  112798.0              10.0                   30
20         1021  33.0   39268.0               7.0                   48
21         1022  43.0  116807.0               7.0                   39
22         1023  46.0   42185.0               NaN                   41
23         1024  48.0   93704.0               9.0                   53
24         1025  49.0       NaN              10.0                   44
25         1026  37.0   69099.0               NaN                   56
26         1027  36.0       NaN               3.0                   51
27         1028  24.0   68044.0               7.0                   53
28         1029  58.0   81214.0               1.0                   38
29         1030  28.0   91228.0               4.0                   49
30         1031   NaN   78984.0               4.0                   46
31         1032  30.0   70774.0               NaN                   59
32         1033  39.0   32568.0               7.0                   46
33         1034  25.0   92592.0               7.0                   55
34         1035   NaN   97563.0               NaN                   49
35         1036  35.0   32695.0               4.0                   41
36         1037  30.0   78190.0               7.0                   59
37         1038  47.0   35258.0               NaN                   36
38         1039  23.0       NaN               3.0                   31
39         1040   NaN   69504.0               6.0                   32
40         1041  49.0   63159.0               2.0                   46
41         1042  28.0   43986.0              10.0                   34
42         1043  29.0   91858.0               9.0                   46
43         1044  56.0   42666.0               5.0                   53
44         1045  35.0   68660.0               6.0                   46
45         1046  38.0   33561.0               4.0                   56
46         1047  57.0   56854.0               NaN                   46
47         1048  25.0   94505.0               NaN                   31
48         1049  23.0   82251.0               7.0                   31
49         1050   NaN   52662.0               9.0                   57

In [3]:
df.isna()

    Employee_ID    Age  Salary  Job_Satisfaction  Work_Hours_Per_Week
0         False  False   False             False                False
1         False  False   False             False                False
2         False  False   False             False                False
3         False  False   False             False                False
4         False  False   False             False                False
5         False  False   False             False                False
6         False  False    True              True                False
7         False  False   False             False                False
8         False  False   False             False                False
9         False  False    True             False                False
10        False  False   False             False                False
11        False   True   False              True                False
12        False  False   False              True                False
13        False  False   False             False                False
14        False  False   False             False                False
15        False  False   False             False                False
16        False  False   False             False                False
17        False  False   False             False                False
18        False  False   False             False                False
19        False  False   False             False                False
20        False  False   False             False                False
21        False  False   False             False                False
22        False  False   False              True                False
23        False  False   False             False                False
24        False  False    True             False                False
25        False  False   False              True                False
26        False  False    True             False                False
27        False  False   False             False                False
28        False  False   False             False                False
29        False  False   False             False                False
30        False   True   False             False                False
31        False  False   False              True                False
32        False  False   False             False                False
33        False  False   False             False                False
34        False   True   False              True                False
35        False  False   False             False                False
36        False  False   False             False                False
37        False  False   False              True                False
38        False  False    True             False                False
39        False   True   False             False                False
40        False  False   False             False                False
41        False  False   False             False                False
42        False  False   False             False                False
43        False  False   False             False                False
44        False  False   False             False                False
45        False  False   False             False                False
46        False  False   False              True                False
47        False  False   False              True                False
48        False  False   False             False                False
49        False   True   False             False                False

In [4]:
df['Age'].mean()

39.17777777777778

In [12]:
df['Salary'].mean()

0.4654849317536826

In [5]:
df['Salary'].mode()

0      31016.0
1      32568.0
2      32695.0
3      33561.0
4      35258.0
5      39268.0
6      39692.0
7      41534.0
8      42185.0
9      42666.0
10     43986.0
11     52662.0
12     53247.0
13     54300.0
14     56854.0
15     63159.0
16     67065.0
17     68044.0
18     68660.0
19     69099.0
20     69504.0
21     70397.0
22     70757.0
23     70774.0
24     75758.0
25     78190.0
26     78984.0
27     81214.0
28     82251.0
29     82995.0
30     85591.0
31     91228.0
32     91858.0
33     92592.0
34     93704.0
35     94505.0
36     95697.0
37     97563.0
38    102409.0
39    104065.0
40    108953.0
41    112798.0
42    116807.0
43    119789.0
44    119812.0
Name: Salary, dtype: float64

In [6]:
from sklearn.preprocessing import MinMaxScaler

In [7]:
scaler = MinMaxScaler()

In [8]:
df[['Age', 'Salary']] = scaler.fit_transform(df[['Age', 'Salary']])

In [9]:
df['Salary'] = (df['Salary'] - df['Salary'].min()) / (df['Salary'].max() - df['Salary'].min())

In [10]:
from sklearn.preprocessing import StandardScaler
s_scaler = StandardScaler()

In [11]:
df[['Job_Satisfaction']] = s_scaler.fit_transform(df[['Job_Satisfaction']])
df['Job_Satisfaction']

0     1.281519
1     0.910064
2    -1.318664
3    -1.690119
4     0.538609
5     0.538609
6          NaN
7    -0.204300
8    -0.947210
9     0.910064
10    0.167155
11         NaN
12         NaN
13   -1.690119
14   -0.947210
15   -0.204300
16   -0.947210
17   -1.690119
18   -0.204300
19    1.652974
20    0.538609
21    0.538609
22         NaN
23    1.281519
24    1.652974
25         NaN
26   -0.947210
27    0.538609
28   -1.690119
29   -0.575755
30   -0.575755
31         NaN
32    0.538609
33    0.538609
34         NaN
35   -0.575755
36    0.538609
37         NaN
38   -0.947210
39    0.167155
40   -1.318664
41    1.652974
42    1.281519
43   -0.204300
44    0.167155
45   -0.575755
46         NaN
47         NaN
48    0.538609
49    1.281519
Name: Job_Satisfaction, dtype: float64